body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif; }

#filter_bar {
  background-color: #eee;
  border: solid 1px;
  border-radius: 5px;
  margin: 1em 2em;
  padding: 10px; }

.filter_dropdown {
  font-family: 'Courier New', Courier, monospace; }

#new_resourse {
  background-color: #eee;
  border: solid 1px;
  border-radius: 5px;
  margin: 1em 2em;
  padding: 10px;
  width: 80% auto; }

.resource_url {
  width: 50% auto; }

.resourse_archive {
  background-color: #eee;
  border: solid 1px;
  border-radius: 5px;
  margin: 1em 2em;
  padding: 10px;
  width: 80% auto; }

.resourse_archive .submitted_by {
  float: right;
  vertical-align: top;
  font-size: 18; }

.comment_dropdown {
  background-color: #eee;
  border: solid 1px;
  border-radius: 5px;
  margin: 1em 2em;
  padding: 10px;
  width: 80% auto; }
