<!doctype html>
<html lang ="en">
<head>
</head>
<div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by...
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>Interest</li>
            <li>Rating</li>
            <li>Date Added</li>
        </ul>
    </div>

    <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Interest
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>HTML</li>
                <li>Dance</li>
                <li>ETC..</li>
            </ul>
    </div>

    <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
                <input type="text" class="form-control" placeholder="Search for...">
              </div>
            </div>

</html>