<!doctype html>
<html lang ="en">
<head>
</head>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter by...
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Rating</a><br>
      <a class="dropdown-item" href="#">Interest</a><br>
      <a class="dropdown-item" href="#">Date Posted</a><br>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pick one...
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">HTML</a><br>
          <a class="dropdown-item" href="#">Hockey</a><br>
          <a class="dropdown-item" href="#">Birds</a><br>
        </div>
        
    <div class="row">
            <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
                <input type="text" class="form-control" placeholder="Search for...">
              </div>
            </div>
            </div>
</html>