<nav class="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-header">
                <div class="col-md-10">
                    <a class="navbar-title" href="/">The Resource Wall</a>
                </div>
            </div>
            <div class="col-md-2">
            <% if (user_id) { %>
                <p class="userIn"><a href="/api/users/:id">Signed in as "<%= user_id %>"</a></p>
                <form method="POST" action="/api/users/logout">
                    <button type="submit" class="btn btn-default navbar-btn">Sign Out</button> 
                </form>
                <% }  else { %>
                    <form method="GET" action="/api/users/login">
                        <button type="submit" class="btn btn-default navbar-btn my_toggle">Sign in</button>
                    </form>
                    <form method="GET" action="/api/users/register">
                        <button type="submit" class="btn btn-default navbar-btn my_toggle">Register</button>
                    </form>
                <% } %>
            </div></br></br>
            <div class="col-md-10">
                    <div class="input-group">
                        <input id="search-bar" type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default my_toggle" type="button">Search</button>
                        </span>
                    </div>
            </div>
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my_toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        Filter by...
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">HTML</a><br>
                        <a class="dropdown-item" href="#">Hockey</a><br>
                        <a class="dropdown-item" href="#">Birds</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>