<!-- views/partials/header.ejs -->
<title>Resource Wall</title>
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style>
    body { background-color: #D5F5E3}
    </style>
</head>
<body>
    Login form goes here
</body>>
