<!doctype html>
<html lang ="en">
<head>
</head>
<body>
        <form method="POST" action="/api/users/login">
            <label for="user">Login:</label><br>
                <input id="username" type="username" name="userlame" placeholder="username"> <br>
                <input id="password" type="password" name="password"placeholder="Password">
            <input type="submit" value="Submit">
        </form>
</body>
</html>