<!doctype html>
<html lang ="en">
<head>
</head>
<body>
        <% if (user_id) { %>
        <form action="/api/users/logout" method="POST">
            <label for="user"> <%= user_id %> </label>
            <input type="submit" value="Logout">
        </form>
        <% } 
        else { %>    
        <form method="GET" action="/api/users/login">
            <input type="submit" value="Login">
          </form>
          <form method="GET" action="/api/users/register">
            <input type="submit" value="Register">
          </form>
          <% } %>
</body>
</html>