<!doctype html>
<html lang ="en">
<head>
</head>
<body>
    <button type="button" class="btn btn-primary" method="GET" action="/login">
        <input type="submit" value="Login">
    </button>
    <button type="button" class="btn btn-primary" method="GET" action="/register">
        <input type="submit" value="Register">
    </button>
</body>
</html>