<!doctype html>
<html lang ="en">
<head>
</head>
<body>
    <% if (!user_id) { %>
        <button type="button" class="btn" method="GET" action="/partials/_login">
            <input type="submit" value="Login">
        </button>
        <button type="button" class="btn" method="GET" action="/partials/_register">
            <input type="submit" value="Register">
        </button>
    <% } 
    
    else { %>
    }<form action="/logout" method="POST">
        <label for="user"> <%= user_id %> </label>
        <input type="submit" value="Logout">
    </form>
    <% } %>

</body>
</html>