<!doctype html>
<html lang ="en">
<head>
</head>
<body>
        <form method="POST" action="/register">
            <label for="user">Register an Account:</label><br>
                <input id="email" type="email" name="email" placeholder="Email"> <br>
                <input id="username" type="username" name="userlame" placeholder="username"> <br>
                <input id="password" type="password" name="password"placeholder="Password">
            <input type="submit" value="Submit">
        </form>
</body>
</html>