<!doctype html>
<html lang ="en">
<head>
        <link rel="stylesheet" type="text/css" href="/styles/css/login.css">
</head>
<body>
        <form method="POST" action="/api/users/login" class="login_box">
            <label for="user">Login:</label><br>
                <input id="username" type="username" name="username" placeholder="username"> <br>
                <input id="password" type="password" name="password"placeholder="Password">
            <input type="submit" value="Submit">
        </form>
</body>
</html>