<!DOCTYPE html>
<html lang="en">
<header>
        <% include partials/_header %> 
        <title>"USERONE Profile Page"</title>
</header>

<body>
                <h1>Edit Profile: USERONE</h1>
                <div id = "username">Username: 
                        <div class="username">
                        <label for="username"></label>
                        <input class="form-control z-depth-1" id="username" rows="1" value = "
<<<<<<< HEAD
                       <%= name %>" ></input>
=======
                        <%= name %>" ></input>
>>>>>>> bc8a00bfc98480dcb058cdf478bc09f095a00737
                        </div> </div>
                <div id = "username">Password: 
                        <div class="password">
                        <label for="password"></label>
                        <textarea class="form-control z-depth-1" id="password" rows="1" placeholder="PASSWORD"></textarea>
                        </div> </div>
                <div id = "username">Location: 
                        <div class="location">
                        <label for="location"></label>                                
                        <textarea class="form-control z-depth-1" id="location" rows="1" placeholder="LOCATION"></textarea>
                        </div> </div>
                <div id = "intrests">Interests: 
                        <div class="interests">
                        <label for="interests"></label>
                        <textarea class="form-control z-depth-1" id="Interest1" rows="1" placeholder="INTEREST1"></textarea>
                                </div> 
                        <textarea class="form-control z-depth-1" id="Interest2" rows="1" placeholder="INTEREST2"></textarea>
                        </div> 
                        <textarea class="form-control z-depth-1" id="Interest3" rows="1" placeholder="INTEREST3"></textarea>
                </div> 
                        </div>
                
                </body>

</html>